<!DOCTYPE html>
<html>
<head>
	<title>Guchipoo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Quicksand:wght@500&display=swap" rel="stylesheet">
	<style type="text/css">
		body{
			background: black;
		}
		
		.display-4{
			color: white;
			font-family: 'Dancing Script', cursive;
		}
	</style>
</head>
<body>
	
<nav  id="myNav" class="navbar bg-dark navbar-top navbar-expand-lg navbar-dark" style="background-color: white;">
	<div  class="container pt-2 pb-2">
		  <a class="navbar-brand" href="/"><i class="fas fa-dog"></i> Home</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item">
				<a class="nav-link active" href="/index">Index</a>
			  </li>
			
			  <li class="nav-item">
				<a class="nav-link active" href="/timeline">Timeline</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/video">Video</a>
			  </li>
				<li class="nav-item">
				<a class="nav-link active" href="/trivia">Trivia</a>
			  </li>
			</ul>
		  </div>
	</div>
</nav>

<div class="container">
	<p class="display-4 text-center">
		You Have Earned Coupons!
	</p>
	<p style="color: white;" class="text-center">
		All coupons have to be redeemed before 7th Feb, 2022. Once redeemed, the coupon will not be refunded. Please enter the coupon code and quantity and click on submit.
	</p>
	<p style="color: white;">
		*T&C applied
	</p>
	<div class="row pt-2">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/ZGg8cyL.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/FTODxFn.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/kcypMEn.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
	</div>
	<div class="row pt-2">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/hOOwZMR.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/bNAqMQH.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/HY325xT.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
	</div>
	<div class="row pt-2">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/bPFLppB.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/56MKG1l.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/FvlRwma.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
	</div>
	<div class="row pt-2">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/CWfrARF.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/f2GKRWx.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/BPpKgvl.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
	</div>
	<div class="row pt-2">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/NciedfZ.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/bKUciky.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/Kw6DRCR.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
	</div>
	<div class="row pt-2">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/ohOGlFh.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/Y4wubnh.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/XIVDaCY.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
	</div>
	<div class="row pt-2">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/k1DKxH6.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/idoc12k.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
			  <img src="https://i.imgur.com/3YEgU3B.png" class="card-img-top" alt="...">
			  <div class="card-body">
				  <form>
					<input class="form-control me-2" type="text" id="subject" placeholder="Enter Code"><br>
					<textarea class="form-control me-2" name="text" placeholder="Enter Quantity" id="text" cols="30" rows="1"></textarea> <br />
					<input class="btn btn-primary" type="submit" value="Submit">
				  </form>
			  </div>
			</div>
		</div>
	</div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
	$('form').on('submit', (e) => {
		e.preventDefault();
		
		const subject = $('#subject').val().trim();
		const text = $('#text').val().trim();
		
		
		const data = {
			subject,
			text
		};
		
		$.post('/coupon', data, function(){
			console.log('Server received data');
		});
	});
</script>
	
<script type="text/javascript">
	var headerHeight = 40;

	$(window).bind('scroll', function () {
	if ($(window).scrollTop() > headerHeight) {
		$('#myNav').removeClass('navbar-top');
		$('#myNav').addClass('fixed-top');
	} else {
		$('#myNav').removeClass('fixed-top');
		$('#myNav').addClass('navbar-top');
	}
	});  
</script>

<footer>
	<section id="copyrights">
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-12">
					<p style="color: white" id="mt5">
						Project Lambda λ
					</p>
				</div>
			</div>
		</div>
	</section>
</footer>

</body>
</html>