<%- include("partials/header") %>

<div class="iframe-container">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/LsUDvcF0jl8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<%- include("partials/footer") %>