<%- include("partials/header") %>

<div class="container text-center">
	<h1>
		<u>M</u>onth <u>P</u>oem<u>S</u>
	</h1>
	<h6>
		One more <em>LAME</em> gift for you! :)
	</h6>
	<h6>
		A summary of our one year in very short <em>8-line</em> poems 🙈
	</h6>
	<p>
		P.S- I know I am not <strong>AT ALL</strong> a good poet/dancer/rapper but I try my best to impress you 💖
	</p>
	
<div class="container otwya pt-2 text-center">
	<div class="row">
		<div class="col-12 col-sm-6 py-4">
			<button class="btn btn-lg btn-primary">
				<a class="anchor" href="/first">Our First Month!</a>
			</button>
		</div>
		<div class="col-12 col-sm-6 py-4">
			<button class="btn btn-lg btn-danger">
				<a class="anchor" href="/dip">A Small Dip</a>
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-6 py-4">
			<button class="btn btn-lg btn-danger">
				<a class="anchor" href="/reborn">Honeymoon Phase, Reborn</a>
			</button>
		</div>
		<div class="col-12 col-sm-6 py-4">
			<button class="btn btn-lg btn-primary">
				<a class="anchor" href="/ever">Happily Ever After :)</a>
			</button>
		</div>
	</div>
</div>


<div class="container py-4">
	<div class="row text-center">
		<div class="col-md-6">
			<img class="image" src="https://i.imgur.com/kEQAMkU.png">
		</div>
		<div class="col-md-6">
			<img class="image" src="https://i.imgur.com/FV8M5Zp.png">
		</div>
	</div>
</div>

<%- include("partials/footer") %>