<%- include("partials/header") %>

<div class="container text-center">
	<h1 class="display-4">
		Open This ONLY When You Are:
	</h1>
	
</div>

<div class="container otwya pt-2 text-center">
	<div class="row">
		<div class="col-12 col-sm-6 py-4">
			<button class="btn btn-lg btn-primary">
				<a class="anchor" href="/happy">HAPPY</a>
			</button>
		</div>
		<div class="col-12 col-sm-6 py-4">
			<button class="btn btn-lg btn-danger">
				<a class="anchor" href="/sad">SAD</a>
			</button>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12 col-sm-6 py-4">
			<button class="btn btn-lg btn-primary">
				<a class="anchor" href="/missing">MISSING ME</a>
			</button>
		</div>
		<div class="col-12 col-sm-6 py-4">
			<button class="btn btn-lg btn-danger">
				<a class="anchor" href="/mam">MAD AT ME</a>
			</button>
		</div>
	</div>
</div>

<div class="container py-4">
	<div class="row text-center">
		<div class="col-md-6">
			<img class="image" src="https://i.imgur.com/b8c4yLk.jpg">
		</div>
		<div class="col-md-6">
			<img class="image" src="https://i.imgur.com/dNmCwTY.jpg">
		</div>
	</div>
</div>

<%- include("partials/footer") %>