<%- include("partials/header") %>

<div class="container text-center">
	<h1>
		Hi Bhav Bhav!
	</h1>
	<h6>
		I have planned something special for you!
	</h6>
	<h6>
		There is a very low chance of us meeting so I have tried my best to make this virtual birthday of yours a very special one.
	</h6>
	<p>
		Enjoy bub, I love you 💖
	</p>
	
	<div class="row text-center">
		<div class="col-md-6">
			<button class="btn btn-large btn-primary">
				<a class="anchor" href="/otwya">OPEN THIS WHEN YOU ARE..</a>
			</button>
		</div>	
		<div class="col-md-6">
			<button class="btn btn-large btn-primary">
				<a class="anchor" href="/future">OUR BUCKET LIST</a>
			</button>
		</div>
	</div>
	<div class="row text-center pt-4">
		<div class="col-sm-12">
			
		</div>	
	</div>
	<div class="row text-center pt-4">
		<div class="col-md-6">
			<button class="btn btn-large btn-primary">
				<a class="anchor" href="/dguom">A SHORT MOVIE 💖</a>
			</button>
		</div>	
		<div class="col-md-6">
			<button class="btn btn-large btn-primary">
				<a class="anchor" href="/real">THE REAL BIRTHDAY VIDEO</a>
			</button>
		</div>
	</div>	
</div>

<div class="container py-4">
	<div class="row text-center">
		<div class="col-md-6">
			<img class="image" src="https://i.imgur.com/qQ73i2Z.jpg">
		</div>
		<div class="col-md-6">
			<img class="image" src="https://i.imgur.com/1AkNghj.jpg">
		</div>
	</div>
</div>

<%- include("partials/footer") %>