<!DOCTYPE html>
<html>
<head>
	<title>Guchipoo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Quicksand:wght@500&display=swap" rel="stylesheet">
	<style type="text/css">
		body{
			background: black;
		}
		
		.display-4{
			color: white;
			font-family: 'Dancing Script', cursive;
		}
		
		.card-body{
			font-family: 'Quicksand', sans-serif;
			font-weight: bold;
		}
	</style>
</head>
<body>
	
<nav  id="myNav" class="navbar bg-dark navbar-top navbar-expand-lg navbar-dark" style="background-color: white;">
	<div  class="container pt-2 pb-2">
		  <a class="navbar-brand" href="/"><i class="fas fa-dog"></i> Home</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item">
				<a class="nav-link active" href="/index">Index</a>
			  </li>
			
			  <li class="nav-item">
				<a class="nav-link active" href="/timeline">Timeline</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/video">Video</a>
			  </li>
				<li class="nav-item">
				<a class="nav-link active" href="/trivia">Trivia</a>
			  </li>
			</ul>
		  </div>
	</div>
</nav>

<div class="container text-center pt-3">
	<img style="border-radius: 25px;" src="https://i.pinimg.com/736x/a3/80/90/a3809026ae8fdf4261a2d4ef7df59aa3.jpg">
	<p class="pt-3" style="color: white">
		I will get back to you shortly 💖
	</p>
</div>
	
<script type="text/javascript">
	var headerHeight = 40;

	$(window).bind('scroll', function () {
	if ($(window).scrollTop() > headerHeight) {
		$('#myNav').removeClass('navbar-top');
		$('#myNav').addClass('fixed-top');
	} else {
		$('#myNav').removeClass('fixed-top');
		$('#myNav').addClass('navbar-top');
	}
	});  
</script>

<footer>
	<section id="copyrights">
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-12">
					<p style="color: white" id="mt5">
						Project Lambda λ
					</p>
				</div>
			</div>
		</div>
	</section>
</footer>

</body>
</html>