<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Guchipoo</title>  
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/timeline.css">
</head>

<body>
<nav  id="myNav" class="navbar bg-dark navbar-top navbar-expand-lg navbar-dark" style="background-color: white;">
	<div  class="container pt-2 pb-2">
		  <a class="navbar-brand" href="/"><i class="fas fa-dog"></i> Home</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
				<a class="nav-link active" href="/index">Index</a>
			  </li>
			  
			  <li class="nav-item">
				<a class="nav-link active" href="/timeline">Timeline</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/video">Video</a>
			  </li>
				<li class="nav-item">
				<a class="nav-link active" href="/trivia">Trivia</a>
			  </li>
			</ul>
		  </div>
	</div>
</nav>
	
<div class="container text-center">
	<h3 id="memory">
		A showcase of your Not-So-Embarrassing photos...
	</h3>
</div>

<section id="timeline">
  <article>
    <div class="inner">
      <span class="date">
        <span class="year">2002</span>
      </span>
      <h2>You USED TO be SO CUTE!</h2>
	  <img class="timeorange" src="https://i.imgur.com/E71Z1x4.jpg">
	  <img class="timeorange" src="https://i.imgur.com/J8wO3SI.jpg">
	  <img class="timeorange" src="https://i.imgur.com/KDi8hjP.jpg">
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="year">2004</span>
      </span>
      <h2>AAYE HAAYEE</h2>
	  <img class="timeorange" src="https://i.imgur.com/MXjTIVi.jpg">
	  <img class="timeorange" src="https://i.imgur.com/cXA8P3H.jpgs">
	  <img class="timeorange" src="https://i.imgur.com/1JGBLd8.jpg">
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="year">2006</span>
      </span>
      <h2>Do BOYCUT again na please</h2>
	  <img class="timegreen" src="https://i.imgur.com/Jj6Ol1d.png">
	  <img class="timegreen" src="https://i.imgur.com/kK9QEYe.jpg">
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="year">2008</span>
      </span>
      <h2>Kool Gurl Vibezz</h2>
	  <img class="timegreen" src="https://i.imgur.com/fHEeNCu.jpg">
	  <img class="timegreen" src="https://i.imgur.com/nPKifRj.jpg">
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="year">2010</span>
      </span>
      <h2>Hi Aunty :)</h2>
	  <img class="timegreen" src="https://i.imgur.com/YX67wHL.jpg">
	  <img class="timegreen" src="https://i.imgur.com/F53HKGe.jpg">
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="year">2012</span>
      </span>
      <h2>Were you being forced to take these pictures lol</h2>
	  <img class="timeorange" src="https://i.imgur.com/mMxewiV.jpg">
	  <img class="timeorange" src="https://i.imgur.com/83HbwIM.jpg">
	  <img class="timeorange" src="https://i.imgur.com/9tBW7AD.jpg">
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="year">2014</span>
      </span>
      <h2>Kool Gurl Vibezz part2</h2>
	  <img class="timeorange" src="https://i.imgur.com/1L4OuGP.jpg">
	  <img class="timeorange" src="https://i.imgur.com/fZUhBd3.jpg">
	  <img class="timeorange" src="https://i.imgur.com/8TM3J8s.jpg">
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="year">2016</span>
      </span>
      <h2>My Fraandzz</h2>
	  <img class="timegreen" src="https://i.imgur.com/ZshKZZF.jpg">
	  <img class="timegreen" src="https://i.imgur.com/tTIQvEv.jpg">
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="year">2017</span>
      </span>
      <h2>What in the world is the third picture</h2>
	  <img class="timeorange" src="https://i.imgur.com/fV5vpb4.jpg">
	  <img class="timeorange" src="https://i.imgur.com/dnmbtUE.jpg">
	  <img class="timeorange" src="https://i.imgur.com/IOYj0bt.jpg">
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="year">2017</span>
      </span>
      <h2>YOLO vibes</h2>
	  <img class="timeorange" src="https://i.imgur.com/oWAyUQQ.jpg">
	  <img class="timeorange" src="https://i.imgur.com/BSrN5Ri.jpg">
	  <img class="timeorange" src="https://i.imgur.com/A9HRIzB.jpg">
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="year">2018</span>
      </span>
      <h2>suchi - usashi - gargi</h2>
	  <img class="timeorange" src="https://i.imgur.com/7M31u9W.jpg">
	  <img class="timeorange" src="https://i.imgur.com/4FmimTA.jpg">
	  <img class="timeorange" src="https://i.imgur.com/EfNMI5C.jpg">
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="year">2018</span>
      </span>
      <h2>Zainu mujhse lamba ho gaya</h2>
	  <img class="timeorange" src="https://i.imgur.com/d4eX3Gd.jpg">
	  <img class="timeorange" src="https://i.imgur.com/hvCNYWN.png">
	  <img class="timeorange" src="https://i.imgur.com/EWKQIpW.jpg">
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="year">2019</span>
      </span>
      <h2>"Holi Haiiiii"</h2>
	  <img class="timeorange" src="https://i.imgur.com/X2paBz9.jpg">
	  <img class="timeorange" src="https://i.imgur.com/UMxAcR9.jpg">
	  <img class="timeorange" src="https://i.imgur.com/M5snWjG.jpg">
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="year">2019</span>
      </span>
      <h2>anjali - kajallllll - apoorva</h2>
	  <img class="timeorange" src="https://i.imgur.com/QcgGcQx.jpg">
	  <img class="timeorange" src="https://i.imgur.com/5uea7hi.jpg">
	  <img class="timeorange" src="https://i.imgur.com/ZZfsR8L.jpg">
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="year">2020</span>
      </span>
      <h2>aditya - shrey - harsh</h2>
	  <img class="timeorange" src="https://i.imgur.com/sNkFoZM.jpg">
	  <img class="timeorange" src="https://i.imgur.com/z9rmC6I.jpeg">
	  <img class="timeorange" src="https://i.imgur.com/LBW7Szl.jpg">
    </div>
  </article>
	<article>
    <div class="inner">
      <span class="date">
        <span class="year">2020</span>
      </span>
      <h2>shrushti - shivam - sanya</h2>
	  <img class="timeorange" src="https://i.imgur.com/gIKpGXo.jpg">
	  <img class="timeorange" src="https://i.imgur.com/XhUlYQw.jpg">
	  <img class="timeorange" src="https://i.imgur.com/t0SKeWv.jpg">
    </div>
  </article>
</section>
	
</body>
</html>
